.navbar {
    background-color: 	rgb(60, 69, 62);
    padding: 10px; 
    border: 1px solid black;
    /* position: fixed; */
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center; 
}

.navbar-link {
    color: #000; 
    text-decoration: none; 
    margin: 0 15px; 
    padding: 10px; 
    font-size: 16px;
    font-weight: bold;
}

.navbar-link:hover {
    color: red; 
}

.navbar-link{
    border: 1px solid black;
    background-color: #f2d398;
    border-radius: 10px;
}
.navbar-link:hover{
    scale: 1.05;
}