.navbar {
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-content: center;
  background-color: rgba(255, 228, 196, 0.6);
}

.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 2rem;
}

.navbar-link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: larger;
  font-weight: 400;
}

.navbar-link:hover {
  color: black;
  transform: scale(1.1);
}

.navbar-link .icon {
  font-size: 1.5rem; 
  margin-bottom: 0.5rem;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-link:hover .icon {
  color: green;
  transform: rotate(4deg);
}
