.menu {
    list-style-type: none;
    padding: 20;
    margin: 0;
    background-color: #0F1111;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Papyrus", fantasy;
    
  }
  
  .menu li {
    display: inline;
    margin-right: 10px;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    font-size: large;
    display: inline-block;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    
  }

  .menu a:hover{
    scale: 1.09;
    border-right: 3px solid orange;
    border-left: 3px solid orange;
  }

  .logo-item {
    margin-right: auto; 
    position: absolute;
    left: 180px;
  }

  .logo-image{
    height: 67px;
    width: 70px;
  }
  .logo-image:hover{
    scale: 1.04;
    border-right: 3px solid greenyellow;
    border-left: 3px solid greenyellow;
    border-radius: 20px;
  }
  
  