.app{
   text-align: center;
   background-color: aliceblue;
   border: 3px solid green;
   border-radius: 10px;
   font-family: sans-serif;
}

.menu a{
   text-decoration: none;
   margin-right: 30px;
   padding: 20px 0px;
   color: black;
   font-weight: bold;
}
.menu{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: orange;
}