<div class="app">

  <!-- <a routerLink="">Home</a>
  <a routerLink="templateform">Template Form</a>
  <a routerLink="dynamicform">Dynamic Form</a>
  <a routerLink="books/12">Books Routing Params Example</a> -->
  <!-- <div class="menu">
    <a routerLink="home">Home</a>
    <a routerLink="admin">Admin</a>
    <a routerLink="contact">Contact</a>
  </div> -->
  <!-- <app-menu></app-menu>
  <app-login></app-login>
  <app-formexample/>
  <app-home></app-home>
  <app-footer></app-footer> -->
  <!-- <app-dynamicform></app-dynamicform> -->
  <!-- <app-server></app-server> -->
  
  <app-menu></app-menu>
  <router-outlet></router-outlet>
</div>