<footer class="footer">
    <div>
        <p>Get to Know Us</p>
        <a href="#">About Us</a><br/>
        <a href="#">Careers</a>
    </div>
    <div>
        <p>Connect with Us</p>
        <a href="#">Facebook</a><br/>
        <a href="#">Twitter</a><br/>
        <a href="#">Instagram</a>
    </div>
    <div>
        <p>Make Money with Us</p>
        <a ref="#">Supply to Our Website</a><br/>
        <a href="#">Become an Affiliate</a><br/>
        <a href="#">Advertise Your Products</a><br/>
        <a href="#">Protect and Build Your Brand</a>
    </div>
    <div>
        <p>Let Us Help You</p>
        <a href="#">Your Account</a><br/>
        <a href="#">Returns Centre</a><br/>
        <a href="#">100% Purchase Protection</a><br/>
        <a href="#">App Download</a><br/>
        <a href="#">Help</a>
    </div>
</footer>
<div class="Secondfooter">
    <a routerLink="/privacy">Privacy Policy</a><br/>
    <a routerLink="/terms">Terms of Service</a>
</div>
  