.addproducts {
    border: 2px solid black;
    border-radius: 10px;
    width: 45%;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
    background-color: azure;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    padding: 10px 0px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
  }
  select{
    width: 102%;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  button[type="submit"] {
    color: white;
    padding: 10px 20px;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    /* color: white; */
    padding: 10px 20px;
    /* background-color: red; */
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* button[type="button"]:hover {
    background-color: darkred;
  } */
  
  button :disabled{
    color:black;
  }