<div class="product-edit-container">
    <h2>Create Product</h2>
    <form (ngSubmit)="createProduct()">
      <div>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="product.name" name="name" type="text" required />
      </div>
      <div>
        <label for="price">Price:</label>
        <input id="price" [(ngModel)]="product.price" name="price" type="number" required />
      </div>
      <div>
        <label for="availability">Availability:</label>
        <select id="availability" [(ngModel)]="product.availability" name="availability" required>
          <option value="available">available</option>
          <option value="not available">not available</option>
        </select>
      </div>
      <button type="submit">Create</button>
    </form>
</div>
  